:root {
  --Background-page: #123;
  --text-color: #ddd;
  --arrow-color: #eee;
  --background-text: #123;
}
html {
  scroll-behavior: smooth;
}
/* var(--Background-page);
   var(--text-color);
   var(--arrow-color);
   var(--background-text);
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: linear-gradient (
  to bottom right,
  #9664bb 80%,
  #6f37a4 40%,
  #1a25af 60%,
  );
  background-size: 200% 200%;
}
.separador {
  background-color: var(--Background-page);
  width: 100%;
  height: 300px;
}
/* ------------------------------  Menu Hambuerguesa ------------------------*/
  ul{
    visibility: hidden;
  }
  
  input:checked  ~ ul{
    visibility: visible;
  }

  input {
    display: none;
  }
  
  label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: #ddd;
    position: absolute;
    top: 40px;
    right: 40px;
    transform: scale(1.5);
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover{
    background: grey;
  }

  /* Estilo del boton cuando el menú está expandido*/

  ul{
    position: absolute;
    margin-top: 30%;
    padding: 15;
    width: 100%;
  }
  
  li {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 1px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    padding: 10px;
    list-style: none;
    border: 4px solid transparent;
    text-align: center;
    height: 35px;
    margin-bottom: 10px;
  }



  li a {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: var(--Background-page);
    font-size: 1.0rem;
    z-index: 20;
  }


  /*Estilo cuando el mouse pasa encima de cada link del menu*/


  /* ---------------------------------   fin menu hambuerguesa ----------------------------*/
 
  .section-about-me {
    background-color: var(--Background-page);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
   }

 .section-skills {
  background-color: var(--Background-page);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
 }

  header {
  background-color: var(--Background-page);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
 }
 
 .section-projects {
  background-color: var(--Background-page);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
 }

 .section-personal {
  background-color: var(--Background-page);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
 }

 .figure {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: #123 6px solid;
  box-shadow: 0px 20px 15px 5px rgba(0, 14, 33, 0.7);
 }
 
 @-webkit-keyframes cambiarColor {
  0% {
    background-color: rgb(25, 8, 59);
    opacity: 75%;
  }
  100% {
    background-color: rgb(66, 35, 113);
    opacity: 50%;
}
}

img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit:contain;
}
h1 {
  margin-top: 40px;
}
h1, h2, h3 {
  color: var(--text-color);
  font-weight: 200;
}
h2 {
  font-size: 0.8rem;
}
header h3 {
  position: relative;
}
h3 span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: var(--Background-page);
  border-left: 1px solid var(--text-color);
  white-space: hidden;
  animation: maquina 5s infinite steps(19);
}

@keyframes maquina {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  75% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* ------------------------------flechas -----------------*/
.arrow {
  height: 40px;
  width: 60px;
  background-color: var(--arrow-color);
  clip-path: polygon(50% 50%, 100% 100%,50% 75%, 0% 100%);
  animation: arrow 1s infinite;
}


@keyframes arrow {
  0% {
    transform: translate(0px, -10px);
    opacity: 110%;
  }
  50% {
    transform: translate(0px, -15px);
    opacity: 60%;
  }
}



/* --------------- galeria de sskills ----------------------*/

section h2 {
  color: var(--text-color);
  padding-top: 40px;
  font-size: 2em;
}

.hard-skills, 
.soft-skills {
  height: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.alt-img {
  width: 85px;
  height: 85px;
  flex: 0 0 33.33334%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.alt-img img {
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  filter: brightness(80%);
  object-fit: cover;
}

.alt-img h6 {
  font-size: 15px;
  color: red;
  z-index: 20;
  visibility: hidden;
}
.alt-img:hover img{
  filter: brightness(50%);
  filter: drop-shadow(0px 5px 10px rgb(27, 27, 29));
}
.alt-img:hover h6 {
  display: inline-block;
  filter: brightness(100%);
  background-color: var(--background-text);
  transform:translateY(45px);
  visibility: visible;
  text-align: center;
  transition: all 0.5s ease-in-out;
}