body {
	font-family: 'Cardo', serif;
}
.flor3, .flor4 {
	height: 85px;
}
.flor4 {
	transform: rotate(-90deg);
}

.navbar-brand {
	font-size: 3rem;
	font-family: cursive;
	color: #FFBF83;
}
h1 {
	font-family: serif;
	color: #5b8465;
	font-weight: bold;
	font-size: 2.5rem;
}
h2 {
	margin-top: 100px;
	font-family: serif;
	color: #5b8465;
	font-weight: bold;
	font-size: 1.5rem;
}
p {
	font-family: cursive;
	color: #FFBF83;
}
.carousel-inner img {
	height: 250px;
	width: 100%;
	object-fit: scale-down;
}
.carousel-inner {
	max-height: 250px;
}
#gallery img {
	margin-top: 50px;
	object-fit: contain;
	height: 180px;
}
#gallery img:hover {
	transform: scale(1.03);
    filter: opacity(0.7);
    transform: rotate(5deg);
    transition: transform 0.5s ease;
}
#ceremony .logo {
	height: 150px;
	object-fit: cover;
}
#ceremony p {
	font-size: 1.2rem;
	color: #5b8465;
}
#ceremony b {
	font-size: 0.8rem;
	color: #5b8465;
	vertical-align: center;
}
#ceremony .row .col-6, #ceremony .row .col-3 {
	border: 1px solid #FFBF83;
}
#fest .btn {
	background-color: #FFBF83;
	color: #fff;
}
#home p {
	font-size: 1.3rem;
}
.modal-body p {
	font-size: 1.5rem;
	color: #5b8465;
}
footer {
	background-color: #5b8465;
}
footer p {
	padding-top:25px;
	padding-bottom: 25px;
	color: #fff;
}
.separador {
	height: 150px;
}